<!DOCTYPE html> <!-- 声明文档类型为HTML5 -->
<html lang="en"> <!-- 定义HTML文档，lang属性指定文档语言为英语 -->

<head>
    <meta charset="UTF-8">  <!-- 设置文档的字符编码为UTF-8，以确保支持国际化字符 -->
    <title>PaddlePaddle Network Designer</title> <!-- 设置网页标题，这里标题被设置为"Title"，但通常这里会放置更具描述性的标题 -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body> <!-- 网页的主体部分开始 -->

<!-- 标题栏 -->
<div style="background-color: #ffffff; height:25px; padding: 15px 15px;"> <!-- 创建一个div元素作为导航栏，设置背景色为白色，高度为25px，内边距为上下15px，左右250px -->
    <a href="./" style="text-decoration: none; color: #000; font-size:18px"> <!-- 创建一个超链接（a标签），href属性指定链接到当前页面（"./"），并设置样式 -->
        <strong>PaddlePaddle Network Designer</strong>
    </a>
</div>

<!-- 主体框 -->
<div class="container">
    <!-- 导航栏 -->
    <div class="navbar"><p>加载中...</p></div>
    <!-- 这里是画布区域，但实际上我们将它用作一个容器来动态添加内容 -->
    <div class="canvas" id="elements-canvas"></div>


    <!-- 信息栏/内容栏 -->
    <div class="content" id="content-block">
        <div class="element-information" id="item1">
            <h2>块信息</h2> <!-- 标题部分，表示这是块信息 -->
            <div>
                <!-- 这里可以动态插入Name的值 -->
                Name: 示例名称
            </div>
            <div>
                <!-- 这里可以动态插入FullName的值 -->
                FullName: 示例全名
            </div>
        </div>
        <div class="content-item" id="item2" style="display:none;">这是条目 2 的内容</div>
        <div class="content-item" id="item3" style="display:none;">这是条目 3 的内容</div>
    </div>

    <!-- 侧边栏 -->
    <div class="sidebar">
        <button class="sidebar-item" data-content="item1">条目 1</button>
        <button class="sidebar-item" data-content="item2">条目 2</button>
        <button class="sidebar-item" data-content="item3">条目 3</button>
    </div>


</div>


<!-- 将<script>标签放在<body>标签的底部，以确保DOM元素已加载 -->
<!-- 加载JS文件 -->
<!-- 全局变量 -->
<script src="{% static 'js/variable.js' %}"></script>

<!-- 基础组件 -->
<script src="{% static 'js/dragger.js' %}"></script>

<!-- 页面组件 -->
<script src="{% static 'js/navbar.js' %}"></script>
<script src="{% static 'js/canvas.js' %}"></script>

<!-- 页面逻辑 -->
<script src="{% static 'js/index.js' %}"></script>

<script>
    // JavaScript代码

    document.querySelectorAll('.sidebar-item').forEach(item => {
        item.addEventListener('click', function() {
            const contentId = this.getAttribute('data-content');
            const informationBlock = document.getElementById('content-block');
            // 隐藏所有内容
            for (let child of informationBlock.children) {
                child.style.display = 'none';
            }
            // 显示选中的内容项
            document.getElementById(contentId).style.display = 'block';
        });
    });
</script>



</body> <!-- 网页的主体部分结束 -->
</html> <!-- HTML文档结束 -->


